@import '../helpers/variables';
@import '../theme/font';

.container {
    
    .container__banner {
        background-image: url(../../img/kid.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-bottom: 70px;

        .container__home {
            position: relative;
            top: 300px;
            width: 70%;
            margin: 0px auto;
            text-align: center;
            color: $colorWhiteNav;
    
            .text__title {
                font-size: 30px;
                color: #fff;
                line-height: 55px;
            }
    
            .text__desc {
                line-height: 40px;
                font-size: 16px;
            }
    
            .btn {
                padding: 90px 0px;
                .btn-article {
                    border: 2px solid $colorWhiteNav;
                    text-decoration: none;
                    color: $colorWhiteNav;
                    padding: 12px 50px;
                    font-size: 18px;
                    transition: all 0.4s;
                    &:hover {
                        border: 2px solid $colorGreen;
                        background-color: $colorGreen;
                    }
                }
            }
        }
    }
    .wrapper {
        width: 75%;
        margin: 0 auto;
    }
    .wrapper__recherche {
        .wrapper__poppever {
            display: flex;
            span {
                margin-right: 7px;
                padding: 10px 13px;
                border-radius: 5px 5px 0 0;
                color: $colorWhite;
                font-size: 16px;
                cursor: pointer;
            }
        }
        .blog__recherche {
            position: relative;
            top: 8px;
            background-color: $colorGreen;
            width: 100%;
            // height: 50px;
            border-radius: 0px 0px 5px 5px;

            .form__group {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                .form__group__item {
                    select {
                        width: 190px;
                        padding: 10px 5px;
                        border-radius: 5px;
                        border: 1px solid $colorWhiteNav;
                        outline: none;
                    }
                    input {
                        width: 190px;
                        padding: 10.5px 3px;
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid $colorWhiteNav;
                    }
                    .date {
                        padding: 8px 2px;
                    }

                    .btn__recherche {
                        padding: 10.9px 25px;
                        outline: none;
                        color: $colorBlack;
                        font-weight: 600;
                        background-color: $colorWhite;
                        border: none;
                        border-radius: 5px;
                        width: 200px;
                    } 

                    .name {
                        width: 100%;
                    }
                }
                
            }

            .form__group__name {
                display: flex;
                padding: 10px 10px;

                .form__group__item {
                    width: 100%;
                    margin-right: 20px;
                    input {
                        width: 100%;
                        padding: 10.5px 3px;
                        border-radius: 5px;
                        outline: none;
                        border: 1px solid $colorWhiteNav;
                    }
                }
                .form__group__btn {
                    .btn__recherche {
                        padding: 10.9px 25px;
                        outline: none;
                        color: $colorBlack;
                        font-weight: 600;
                        background-color: $colorWhite;
                        border: none;
                        border-radius: 5px;
                    } 
                }
            }
        }
    }

    // professional
    .wrapper__title {
        margin: 80px 0;
        text-align: center;

        .title {
            color: $colorGreen;
            font-size: 40px;
            font-weight: 600;
        }
        .plus {
            margin: 15px 0;
            color: $colorBlack;
        }
        .text {
            margin: 50px 0;
            line-height: 25px;
        }
    }

    // story
    .wrapper__story {
        .story__background {
            .story__grid {
                margin: 100px 0;
                display: flex;
                border: 1px solid #e9d4a2; 
                padding: 25px;
                .grid__image {
                    margin-right: 30px;
                    img {
                        width: 550px;
                    }
                }
                .grid__text {
                    position: relative;
                    margin: 55px 0 18px 0;
                    .text__title {
                        font-size: 29px;
                        color: $colorGreen;
                        font-weight: 600;
                    }
                    .valeur {
                        margin: 30px 0 0 0;
                    }   
                    .text__sous {
                        line-height: 40px;
                    }
                    .text__desc {
                        padding-top: 10px;
                        font-size: 15px;
                        .valeur__item {
                            display: flex;
                            img {
                                width: 18px;
                            }
                            span {
                                line-height: 27px;
                            }
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        padding-left: 310px;
                        padding-bottom: 193px;
                        height: 100%;
                        top: -115px;
                        left: -250px;
                        background-image: url(../../img/green.jpg);
                        z-index: -1;
                    }
                }
            }
        }
    }

    // Special
    .wrapper__special {
        padding: 60px 0;
        .special__grid {
            display: grid;
            grid-template-columns: 30% 68%;
            column-gap: 2rem;
            .grid__text {
                .title {
                    color: $colorGreen;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 70px;
                }
                .flex_genre {
                    display: flex;
                    .genre_item {
                        margin-right: 50px;
                        .genre__tile {
                            .title {
                                font-size: 25px;
                                text-decoration: underline;
                            }
                        }
                        .genre__list {
                            .list__item {
                                display: flex;
                                img {
                                    width: 18px;
                                }
                                span {
                                    line-height: 27px;
                                }
                            }
                        }
                    }
                    .her {
                        margin-right: 0px;
                    }
                }
            }
            .grid__product {
                .swiper-container {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    .swiper__image {
                        img {
                            width: 200px;
                            height: 300px;
                        }
                    }
                }
                .swiper__text {
                    .title {
                        color: #000;
                        font-weight: 600;
                        font-size: 20px;
                    }
                    .desc {
                        margin: 10px 0;
                        font-size: 13px;
                    }
                }
            }

            .scroll {
                display: flex;
                justify-content: space-between;
                align-self: center;
                .hr {
                    width: 200px;
                     align-self: center;

                        hr {
                            background: $colorGreen;
                            height: 5px;
                            border: none;
                            border-radius: 3px;
                        }
                }
                .btn-scroll {
                    display: flex;
                    align-self: center;
                    margin-right: 13px;

                    img {
                        width: 30px;
                        cursor: pointer;
                        color: $colorGreen;
                    }
                }
            }
        }
    }

    // salon

    .wrapper__salon {
        .salon__grid {
            margin: 100px 0;
            display: flex;
            .grid__image {
                margin-right: 40px;
                img {
                    width: 600px;
                }
            }
            .grid__text {
                position: relative;
                margin: 55px 0;
                color: #fff;
                align-self: flex-start;
                padding-top: 50px;
                .text__title {
                    font-size: 35px;
                    font-weight: 600;
                }   
                .text__sous {
                    line-height: 40px;
                }
                .text__desc {
                    padding-top: 10px;
                    font-size: 14px;
                    width: 95%;
                    line-height: 25px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    border: 1px solid #e9d4a2; 
                    width: 100%;
                    padding-left: 298px;
                    padding-bottom: 180px;
                    height: 100%;
                    top: -90px;
                    left: -300px;
                    background-image: url(../../img/greenfonce.jpg);
                    z-index: -1;
                }
            }
        }
    }
}