// color
$colorGreen : #1B4D4A;
$colorGreenTransparent : rgba(27, 77, 74, 0.533);
$colorWhite : #FFFFFF;
$colorGreenSea : #1ABC9C;
$colorEmeraud : #2ECC71;
$colorEmeraudPur : rgb(43, 184, 101);
$colorBlack : #434242;
$colorRed : #E74C3C;    
$colorLightGrey : #ECF0F1;
$colorDarkGrey : #95A5A6;;
$colorDarkBlue : #34495E;
$colorBlue : #2091DC;
$colorTwitter : #0077B5;
$colorLinkedin : #1A91DA;
$colorFacebook : #4267B2;
$colorBlueBlack :#34495E;
$colorBlueBlackRefaire : rgb(65, 115, 165);
$colorWhiteNav : #e5e5e5;
$colorGreyBody : #F6F7FB;
$colorGreyEdit : #8d8d8d;
$colorBorder : #B1B1B5;
$colorBtn : #C2C4D9;
$colorOrange : #FF4500;
$colorGreyAchat : #6C757D;
$colorGreyAchatPur : #5A6268;

$bgBlue : rgb(32, 132, 199);


//font Lobster
$fontMontserrat : 'Montserrat';
$fontPoppins : 'Poppins';
$fontLobster : 'Lobster';
$fontKaushan : 'Kaushan Script';
$fontMetal   :'Metal Mania';