@import './helpers/reset';
@import './base/base';
// @import './helpers/variables';
// @import './theme/font';
@import './pages/home';
@import './layout/header';
@import './layout/navbar';
// @import '../pages/blog/blog.scss';
// @import '../pages/contact/contact.scss';
// @import '../pages/account/account.scss';
// @import '../template/template';
// @import './layout/footer';


.ab {
    background-color: black;
}